html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}
html { background-color: var(--background-primary); }
body {
	font-family: Calibri, sans-serif;
	color: var(--font-color);
}
body > header {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: var(--accent-color);
}
body > header button, body > header .button {
	height: 100%;
	border-radius: 0;
}
body > header button:active, body > header .button:active {
	background-color: #0004;
}
main {
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	height: calc(100vh - 50px);
}
svg {
	display: block;
	fill: currentColor;
}
