:root {
	--accent-color: red;
	--accent-color-transparent-1: #f002;
	--accent-color-transparent-2: #f004;
}
.light {
	--background-primary: #eee;
	--background-secondary: #bbb;
	--background-tertiary: #999;
	--font-color: black;
	--font-color-opposite: white;
}
.dark {
	--background-primary: #222;
	--background-secondary: #555;
	--background-tertiary: #777;
	--font-color: white;
	--font-color-opposite: black;
}
