main {
	padding: 0;
	flex-direction: row;
	overflow: hidden;
}
svg {
	width: 65%;
}
aside {
	padding: 20px;
	width: 15%;
	min-width: 150px;
	overflow-y: auto;
}
#game {
	flex-grow: 1;
	--header-height: 50px;
}
#game > header > span {
	display: block;
	text-align: center;
	white-space: nowrap;
	line-height: var(--header-height);
	font-size: 36px;
}
#board-container {
	height: calc(100% - var(--header-height));
}
#board {
	display: grid;
	margin: 0 auto;
	padding: 5px;
	gap: 5px;
	box-sizing: border-box;
	max-height: 100%;
	font-size: 1px;
}
#board > div:not(:empty) {
	display: flex;
	justify-content: center;
	background-color: var(--background-secondary);
	border-radius: 10%;
	border: 3px solid var(--background-tertiary);
	user-select: none;
}
