:root {
	--accent-color: #7af;
	--accent-color-transparent-1: #7af2;
	--accent-color-transparent-2: #7af4;
}
.light {
	--background-primary: #eee;
	--background-secondary: #bbb;
	--background-tertiary: #999;
	--font-primary: black;
	--font-secondary: #555;
}
.dark {
	--background-primary: #222;
	--background-secondary: #555;
	--background-tertiary: #777;
	--font-primary: white;
	--font-secondary: #aaa;
}
